
//Gradients
$primary-background-gradient:  linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);

//Fonts
$primary-font: 'Chakra Petch'; 

//Colors
$primary-color: #110038;
$secondary-color: #E6E6E6;
$third-color: #B4B4B4;
$fourth-color: #FFFFFF;
$fifth-color: #F7C9F3;
$sixth-color: #F0F0F0;
$seventh-color:#FFF4FD;
$eighth-color: #FFFAFE;
$ninth-color: #E6E6E6;
$tenth-color:#4180F6; 

//Border-prefix
$primary-border-prefix: 1px solid #110038;
$secondary-border-prefix: 1px solid #979797;
$thrid-border-prefix: 1px solid #808080;
$fourth-border-prefix: 1px solid #CCA6C9;
$fifth-border-prefix: 1px solid #E6BBE2;
$sixth-border-prefix: 1px solid #4C2F99;

//Box-shadow-prefix
$header-boxshadow-prefix: 0 1px 0 0 #110038;
$primary-boxshadow-prefix: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$secondary-boxshadow-prefix: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$third-boxshadow-prefix: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
$fourth-boxshadow-prefix: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
$fifth-boxshadow-prefix:  inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
$sixth-boxshadow-prefix:  inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
$seventh-boxshadow-prefix: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;

//filter
$filter:brightness(0.9);