@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:300,400,600&display=swap");
@import "../styles/constants.scss";
@import "../styles/common-classes.scss";

.buttons-dialog {
  border: $primary-border-prefix;
  box-shadow: $primary-boxshadow-prefix;
  padding: 0.8% 2.7% 0.8% 2.5%;
}

.able {
  display: block;
}
.video-style {
  @extend %input-box-style;
}

.icon-button {
  padding: 0 0.5em 0 0.5em;
}
.capture-button {
  text-align: center;
  padding: 0 2.5em 0 2.5em;
}

.upload-button {
  text-align: center;
  padding: 0 2.5em 0 2.5em;
}

.recording-style {
  background-color: $twelfth-color;
  color: $fourth-color;
  border: $primary-border-prefix;
  box-shadow: $primary-boxshadow-prefix;
}

.dialog {
  padding: 2% 17% 2% 17%;
  .dialog-content {
    @extend %search-box-style;
    padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 80% 15%;
    row-gap: 5%;
    h4 {
      text-align: start;
      font-weight: bold;
    }
    .paragraph {
      display: flex;
      flex-flow: column;
      grid-area: 2/2/2/2;
      justify-self: flex-start;
      text-align: start;
      li {
        margin-top: 2%;
        span {
          font-weight: bolder;
          font-style: italic;
        }
      }
      p {
        margin-top: 2%;
      }
    }
    .buttons {
      grid-area: 3/2/3/2;
      justify-self: flex-end;
      align-items: baseline;
    }
  }
}

.my-section {
  input {
    width: 100%;
    padding: 0.3em 0em 0.3em 0.5em;
  }
  .my-section-gifs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-auto-flow: dense;
    margin-top: 2%;
    grid-gap: 1.3%;
  }
}

.dialog-record {
  padding: 2% 15% 2% 15%;
  display: none;
  .dialog-result {
    display: none;
    @extend %search-box-style;
    height: 20em;
    padding: 0.5%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 50% 25%;
    .result-header {
      grid-area: 1/1/1/3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5em;
      padding: 0% 0.5% 0% 0.3%;
      h4 {
        color: $fourth-color;
        @extend %second-font-prefix;
        font-size: 14px;
      }
    }
    .result-video {
      justify-self: center;
    }

    .result-actions {
      padding: 10% 10% 0 0;
      display: flex;
      flex-flow: column;
      h4 {
        color: $primary-color;
        @extend %font-prefix;
        @extend %first-font-measure;
        font-weight: 600;
      }
      button {
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
      }
    }
    .result-close {
      grid-area: 3/2/3/2;
      justify-self: flex-end;
      padding-right: 10%;
      width: 50%;
      button {
        width: 90%;
        margin-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
      }
    }
  }
  .dialog-record-content {
    @extend %search-box-style;
    height: 33.8em;
    padding: 0.5%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5% 75% 7%;
    row-gap: 2%;
    .record-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5em;
      padding: 0% 0.5% 0% 0.3%;
      h4 {
        color: $fourth-color;
        @extend %second-font-prefix;
        font-size: 14px;
      }
    }
    .record-video {
      @extend %input-box-style;
      width: 97%;
      margin-right: 5%;
      margin-left: 0.5%;
      display: flex;
      .video {
        margin-left: 0.4%;
        margin-right: 0.4%;
        width: 99.5%;
      }
      #preview {
        display: none;
        margin-top: 0.4%;
        margin-bottom: 0.4%;
        margin-left: 0.4%;
        margin-right: 0.4%;
        width: 99.5%;
      }
      .loading {
        display: none;
        margin-top: 15%;
        margin-left: 15%;
        margin-bottom: 10%;
        width: 60%;
        flex-flow: column;
        .loading-image {
          display: flex;
          flex-flow: column;
          margin-left: 20%;
          img {
            width: 20%;
            align-self: center;
          }
          h4 {
            margin-top: 10%;
            align-self: center;
            font-weight: 600;
            line-height: 22px;
            font-size: 16px;
            text-align: center;
          }
        }
        .loading-bar {
          height: 50%;
          margin-left: 10%;
          img {
            width: 110%;
            height: 60%;
          }
          h5 {
            font-size: 12px;
            color: rgba(17, 0, 56, 0.64);
            letter-spacing: 0;
            text-align: center;
            line-height: 14px;
            margin-left: 5%;
          }
        }
      }
    }
    .record-actions {
      justify-self: flex-end;
      padding-left: 1em;
      padding-right: 1em;
      display: flex;
      justify-content: space-between;
      width: 97%;
      .timer {
        visibility: hidden;
        display: flex;
        input {
          @extend %input-box-style;
          width: 70%;
        }
      }
      .record-buttons {
        display: flex;
      }
      .recording-buttons {
        display: none;
      }

      .upload-buttons {
        display: none;
        width: 55%;
        justify-content: space-between;
      }

      .cancel-button {
        display: none;
      }
    }
  }
}
