@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:300,400,600&display=swap");
@import "../styles/constants.scss";
@import "../styles/common-classes.scss";


.buttons-dialog {
  border: $primary-border-prefix;
  box-shadow: $primary-boxshadow-prefix;
  padding: 0.8% 2.7% 0.8% 2.5%;
} 

.video-style {
    @extend %input-box-style;
}

.dialog {
  padding: 2% 17% 2% 17%;
  .dialog-content {
    @extend %search-box-style;
    padding: 5% 5% 5% 5%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 5% 80% 15%;
    row-gap: 5%;
    h4 {
      text-align: start;
      font-weight: bold;
    }
    .paragraph {
      display: flex;
      flex-flow: column;
      grid-area: 2/2/2/2;
      justify-self: flex-start;
      text-align: start;
      li {
        margin-top: 2%;
        span {
          font-weight: bolder;
          font-style: italic;
        }
      }
      p {
        margin-top: 2%;
      }
    }
    .buttons {
      grid-area: 3/2/3/2;
      justify-self: flex-end;
      align-items: baseline;
    }
  }
}

.my-section{
  input{
      width: 100%;
      padding: 0.3em 0em 0.3em 0.5em;
  }
}

.dialog-record {
  padding: 2% 18% 2% 18%;
  display: none;
  .dialog-record-content {
    @extend %search-box-style;
    height: 30em;
    padding: 0.5%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5% 75% 5%; 
    row-gap: 2%;
    .record-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5em;
      padding: 0% 0.5% 0% 0.3%; 
      h4 {
        color: $fourth-color;
        @extend %second-font-prefix;
        font-size: 14px;
      }
    }
    .record-video {
      @extend %input-box-style;
      width: 97%;
      margin-right: 5%;
      margin-left: 0.5%;
      video {
        margin-top: 0.4%;
        margin-left: 0.4%;
        width: 99.2%;
      }
    }
    .record-actions {
      justify-self: flex-end; 
      padding-right: 1em;
      .record-buttons{
        display: flex;
        .capture-button {
          padding: 0.5em;
        }
        #preview {
          display: none;
        }
      }
    }
  }
}
